html {
  --color-text-light: #eee;
  --color-text-dark: #222;

  --color-success: #42df22;
  --color-error: #c72c41;

  --color-surface-light: #fff;
  --color-surface-dark: #222;
  --color-surface-success: rgba(66, 223, 34, 0.2);

  --color-border-dark: #222;

  --color-scrollbar-thumb: #ddd;

  --color-virtual-keyboard-key: #444;
  --color-virtual-keyboard-key-dark: #333;
}

html.theme-light {
  --color-text-light: #222;
  --color-text-dark: #222;

  --color-success: #42df22;
  --color-error: #c72c41;

  --color-surface-light: #fff;
  --color-surface-dark: #fff;
  --color-surface-success: rgba(66, 223, 34, 0.2);

  --color-border-dark: #222;

  --color-scrollbar-thumb: #ddd;

  --color-virtual-keyboard-key: #eee;
  --color-virtual-keyboard-key-dark: #eee;
}
