<div class="queries-container">
  <div
    *ngIf="previousQuery?.task as task"
    [ngClass]="{
      query_error: previousQuery?.state === queryState.error,
      query_success: previousQuery?.state === queryState.success
    }"
    class="query query_prev"
  >
    <ng-container
      *ngTemplateOutlet="
        queryContent;
        context: { task: task, answer: previousUserInput }
      "
    ></ng-container>
  </div>

  <div
    *ngIf="query?.task as task"
    [ngClass]="{ query_error: userError }"
    class="query"
  >
    <ng-container
      *ngTemplateOutlet="
        queryContent;
        context: { task: task, answer: userInput }
      "
    ></ng-container>
  </div>
</div>

<ng-template #queryContent let-task="task" let-answer="answer">
  <span>{{ task.a }}</span>
  <span class="task__sign">{{ task.operation }}</span>
  <span>{{ task.b }}</span>
  <span class="task__sign">=</span>
  <span>{{ answer }}</span>
</ng-template>

<app-success-count
  [count]="successCount"
  class="success-count"
></app-success-count>

<div class="control-description">
  Press <span class="shortcut-key">Space</span> to skip
</div>
