<div
  *ngFor="let group of ruleGroups; trackBy: trackRuleItemGroup"
  class="rule-group"
>
  <ng-container *ngFor="let item of group.rules; trackBy: trackRuleItem">
    <div
      [ngSwitch]="item.rule.type"
      [ngClass]="{ 'rule-item_enabled': item.enabled }"
      (click)="onRuleClick(item)"
      class="rule-item"
    >
      <app-binary-rule
        *ngSwitchCase="ruleType.Binary"
        [ruleItem]="item"
      ></app-binary-rule>

      <app-power-rule
        *ngSwitchCase="ruleType.Power"
        [ruleItem]="item"
      ></app-power-rule>
    </div>
  </ng-container>
</div>
