:host {
  display: flex;
  gap: 12px;
  flex-direction: column;
  width: 100%;
  padding: 12px;
  font-size: 26px;
}

.rule-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  color: var(--color-text-dark);
  border: 3px solid var(--color-border-dark);
  border-radius: 4px;
  cursor: pointer;

  &.rule-item_enabled {
    background-color: var(--color-surface-success);
    border-color: var(--color-success);
  }
}
